<div class="container-fluid container-fluid-custom py-md-5 mb-5 d-flex justify-content-center align-items-center vh-100">
  <main>
    <div class="row py-md-5 text-center justify-content-center align-items-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          Write Your thoughts down as they come to You
        </h1>
        <p class="fs-4 mb-4">
          Mann ki Baat is simple to use free note taking app with Node.js, EJS & MongoDB.
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg">
          Try Notes, it's FREE to use!
        </a>
      </div>
    </div>
    <h1 class="text-center mt-5">Hello World 1234</h1>
  </main>
</div>
